@import url('https://fonts.googleapis.com/css?family=Paytone+One&subset=latin-ext');

/* Tady je magie a jednorožci */
html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }


body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Paytone One', sans-serif;
	color: white;
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.obsah {
	text-align: center;
}

h1, h2, h3 {
	font-weight: regular;
}


h1 {
	margin-top: 0;
	font-size: 60px;
	color: white;
	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 span {
	color: #e5007d;	
}

h2 {
	margin-bottom: 10px;
}


#spz {
	width: 550px;
	min-height: calc(1em + 20px + 50px + 8px);
	margin: 0 auto;
	padding: 20px 20px 50px 20px;
	font-size: 80px;
	line-height: 1;
	color: #3b518d;
	background-color: white;
	border: 4px solid #3b518d;
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
